body 
{
	font-size: large;
}
h1
{
	font-size: 150%;
}
h2
{
	font-size:130%;
}
h1,h2 
{
	color: white;
	margin-top: 4px;
	margin-bottom: 4px;
}
a 
{
	text-decoration: none;
}
.page 
{
	width: 1024px;
	margin: 0 auto;		
}
.page div
{
	float: left;
	
}
.header
{
	width: 1024px;
	background-color: #696969;
	color: white;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
.header ul
{
	list-style: none;
}
.header li
{
	float: left;
	width: 30%;
	margin: 10px 17px 10px 17px;
	text-align: center;
}
#contentlist
{
	background: rgba(0,0,0,0.80);
}
.content
{
	width: 75%;
}
.content img
{
	width: 100%;
}
.content p
{
	margin-left: 15px;
}
.recruiting
{
	background-color: rgba(0,0,0,0.90);
	width: 25%;
	float: right;
	
}
.recruiting a img
{
	width: 100%;
}
.recruiting ul
{
	margin-left: 15px;
	width: 100%;
}

.recruiting h1
{
	text-align: center;
}
.recruiting h2
{
	margin-left: 7px;
}
.recruiting ul li 
{
	margin: 3px 2px;
}
.recruiting ul li span
{
	float: right;
	margin-right: 20px;
}

.warrior
{
	color: #C79C6E;
}
.deadknight
{
	color: #C41F3B;
}
.paladin
{
	color: #F58CBA;
}
.hunter
{
	color: #ABD473;
}
.shaman
{
	color: #0070DE;
}
.druid
{
	color: #FF7D0A;
}
.rogue
{
	color: #FFF569;
}
.monk
{
	color: #00FF96;
}
.priest
{
	color: #FFF;
}
.mage
{
	color: #69CCF0;
}
.warlock
{
	color: #9482C9;
}
.needH
{
	color: #ff420e;
}
.needM
{
	color: #ffd320;
}
.needL
{
	color: #7ac491;
}
.footer
{
	width: 1024px;
	height: 2em;
	background-color: #696969;
	color: white;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}
.footer p 
{
	margin: 0.5em 1em 0.5em;
}
iframe
{
	width: 100%;
}