.article_list_item {
	overflow: hidden;
	margin-bottom: 20px;
}
.article_list_item a {
	font-size: 24px;
}
.article_list_item img {
	width: 230px;
	float: left;
	margin-right: 10px;
}
.article_list_item p {
	margin-top: 10px;
	font-size: 18px;
}