.news_item {
	overflow: hidden;
}
.news_item div {
	width: 50%;
	min-width: 300px;
	float: left;
	max-width: 680px;
}
.news_item img {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 15px;
}
.news_item h2 {
	font-size: 22px;
	margin-bottom: 10px;
}
.news_item p {
	font-size: 18px;
	margin-bottom: 10px;
}
.news_item li {
	margin-bottom: 7px;
}
