.recruit h1 {
	margin-top: 10px;
	font-size: 30px;
}
.recruit img {
	width: 100%;
	max-width: 1024px;
	min-width: 300px;
	margin-bottom: 15px;
}
.recruit p {
	font-size: 18px;
	margin-bottom: 10px;
}
.recruit ul li
{
	list-style-type: disc;
	font-size: 18px;
	margin-bottom: 10px;
	margin-left: 20px;
}
